<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EmployeeCRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
  	<description>EmpDS</description>
  	<res-ref-name>jdbc/EmpDS</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
  	<display-name>CreateEmployee</display-name>
  	<servlet-name>CreateEmployee</servlet-name>
  	<servlet-class>com.example.svc.servlet.CreateEmployee</servlet-class>
  	<init-param>
  		<param-name>dbHost</param-name>
  		<param-value>localhost</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbPort</param-name>
  		<param-value>5432</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbName</param-name>
  		<param-value>sampledb</param-value>
 	</init-param>
 	<init-param>
 		<param-name>dbUser</param-name>
 		<param-value>guest1</param-value>
 	</init-param>
 	<init-param>
 		<param-name>dbPassword</param-name>
 		<param-value>passw0rd</param-value>
 	</init-param>
  </servlet>
  <servlet>
  	<display-name>ListEmployees</display-name>
  	<servlet-name>ListEmployees</servlet-name>
  	<servlet-class>com.example.svc.servlet.ListEmployees</servlet-class>
  	<init-param>
  		<param-name>dbHost</param-name>
  		<param-value>localhost</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbPort</param-name>
  		<param-value>5432</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbName</param-name>
  		<param-value>sampledb</param-value>
 	</init-param>
 	<init-param>
 		<param-name>dbUser</param-name>
 		<param-value>guest1</param-value>
 	</init-param>
 	<init-param>
 		<param-name>dbPassword</param-name>
 		<param-value>passw0rd</param-value>
 	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateEmployee</servlet-name>
  	<url-pattern>/create_emp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListEmployees</servlet-name>
  	<url-pattern>/list_all</url-pattern>
  </servlet-mapping>
  
</web-app>
